body,
html {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.dash_container {
    display: flex;
    width: 100vw;
    height: calc(100vh - 60px);
}

.loader_container {
    background-color: rgba(42, 42, 42, 0.7);
    position: absolute;
    z-index: 10000;
    top: 60px;
    left: 0px;
    width: 100vw;
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */
.loader {
    width: 100px;
    padding: 10px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #25b09b;
    --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
    mask: var(--_m);
    -webkit-mask-composite: source-out;
    mask-composite: subtract;
    animation: l3 1s infinite linear;
}

@keyframes l3 {
    to {
        transform: rotate(1turn);
    }
}

nav {
    background-color: #2d3436;
    color: white;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

nav h1 {
    font-size: 20px;
    margin: 0;
}

nav .nav-buttons button {
    background: #0984e3;
    border: none;
    color: white;
    padding: 6px 12px;
    margin-left: 5px;
    cursor: pointer;
    border-radius: 4px;
}

nav .nav-buttons button:hover {
    background: #74b9ff;
}

#sidebar {
    width: 50px;
    background: #2c3e50;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    gap: 15px;
    color: white;
}

#sidebar button {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

#sidebar button.active {
    color: #1abc9c;
}

#map {
    flex: 1;
    position: relative;;
    width: 100%;
    height: calc(100vh - 60px);
    /* height: 100%; */
}

#panel {
    /* width: 20%; */
    background: #f8f8f8;
    padding: 10px;
    overflow-y: auto;
    border-left: 1px solid #ccc;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 60px);
}

#geojson-output {
    flex: 1;
    white-space: pre-wrap;
    background: #fff;
    border: 1px solid #ccc;
    padding: 8px;
    font-size: 12px;
}

.panel-buttons {
    margin-bottom: 10px;
    display: flex;
    gap: 5px;
}

.panel-buttons button {
    background: #0984e3;
    border: none;
    color: white;
    padding: 6px 12px;
    margin-left: 5px;
    cursor: pointer;
    border-radius: 4px;

    flex: 1;
    /* padding: 5px; */
    /* cursor: pointer; */
}

#coordinates {
    z-index: 900;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;

    right: 20px;
    color: #002244;
    font-weight: 500;
    bottom: 30px;
    background: #ffffff;
    border-radius: 4px;
    font-size: 12px;
    width: 120px;
    height: 20px;
}

.ol-mouse-position {
    top: 0px !important;
    right: 0px !important;
    position: relative !important;
}

.basemap-control {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;
    background: white;
    border-radius: 4px;
}

.basemap-control select {
    padding: 5px 8px;
    border: none;
    outline: none;
    border-radius: 4px;
    font-size: 16px;
}

/* -------------------------- */
/* OpenLayer Popup */
/* -------------------------- */
    .ol-popup {
      position: absolute;
      background-color: white;
      box-shadow: 0 1px 4px rgba(0,0,0,0.2);
      padding: 10px;
      border-radius: 8px;
      border: 1px solid #cccccc;
      bottom: 12px;
      left: -50px;
      min-width: 250px;
      max-height: 300px;
      overflow-y: auto;
      font-size: 13px;
    }

    .ol-popup:after, .ol-popup:before {
      top: 100%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    .ol-popup:after {
      border-top-color: white;
      border-width: 10px;
      left: 48px;
      margin-left: -10px;
    }

    .ol-popup:before {
      border-top-color: #cccccc;
      border-width: 11px;
      left: 48px;
      margin-left: -11px;
    }

    .popup-close {
      text-align: right;
      cursor: pointer;
      font-weight: bold;
      color: #999;
    }

    table {
      border-collapse: collapse;
      width: 100%;
    }

    td {
      padding: 3px 6px;
      border-bottom: 1px solid #eee;
      word-break: break-word;
    }

    td.key {
      font-weight: bold;
      width: 40%;
    }


/* ------------------------ */
/* search-location */
/* ------------------------ */

#search-container {
    position: absolute;
    top: 10px;
    left: calc(50% - 150px);
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
    border-radius: 8px;



}

.search-bar {
    display: flex;
    line-height: 20px;
    align-items: center;
    position: relative;
    /* max-width: 190px; */
}


.search-bar input {
    width: 100%;
    height: 40px;
    line-height: 20px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;



}

.search-bar input:focus {
    outline: none !important;
     background-color: #f3f3f4 !important;
  }
.search-bar input:active {
    outline: none !important;
     background-color: #f3f3f4 !important;
  }

.search-bar input::placeholder {
    color: none !important;
}



.search-bar-icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
}
.search-bar-clear-btn{
  position: absolute;
  right: 10px;
    background-color: #f3f3f4;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: #888;

}

#location-suggestions {
    background: white;
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    display: none;
    position: absolute;
    width: 300px;
}

